@import url('https://fonts.googleapis.com/css?family=Love Light|Major Mono Display|Questrial|Sulphur Point');

html{
    max-width: 100%;
    max-height: 100%;
}

/* Background gradient */
body {
    background: linear-gradient(-65deg, #96d2f3, #96a3f3, #b896f3);
    background-size: 2
    00% 400%;
    animation: gradient 20s ease infinite;
    font-family: Questrial, sans-serif;
    color: #1F1E2B;
    margin-left: auto;
    margin-right: auto;
}
/* Animation for gradient */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

div {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Center content */
.w3-containerw3-center {
    background-color: #eee;
    max-width: 100%;
    max-height: 100%;

}

a:link {
  color: #576490; /* Dark Blue Gray */
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #7796CB; /* Blue Gray */
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #262C40; /* Space Cadet */
  background-color: transparent;
  text-decoration: underline overline;
}
a:active {
  color: #436CB1; /* Blue Yonder */
  background-color: transparent;
  text-decoration: underline;
}

span {
    color: #231026;
}
.spanPurpleBold {
    color: #4f284b;
    font-weight: bolder;
}
.indent {
    padding-left: 2vw;
}
.abouttitle {
    text-align: center;
}

h2 {
    font-family: Sulphur Point, sans-serif;
    font-weight: bolder;
    font-size: 1.4vw;
}
h3 {
    font-size: 1.1vw;
    background-image: linear-gradient(to right, #b29fc5, #c59fb2, #b2c59f, #9fc5b2); 
    border-radius: .5vw;
}
h4 {
    font-size: .9vw;
}
h6 {
    font-size: .7vw;
}

h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

.boxHeader {
    text-indent: .5vw;
    text-transform: uppercase;
    letter-spacing: .2vw;
}

.content {
    background-color: #ffffff;
    height: 60%;
    width: 50%;
    border-radius: 1%;
    border-width: .1vw;
    border-style: dashed;
    padding: .5vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 5px 20px #3a243b; /* Deep purple (Kokimurasaki) */
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: .5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b896f3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

h1.topHead {
    position: absolute;
    color: #1F1E2B; 
    font-family: Love Light, sans-serif; 
    font-size: 6vw; 
    font-weight: bolder;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 10px #3a243b;
}

/* Style the tab */
.tab {
  float: left;
  background-color: #f1f1f1;
  width: 25%;
  height: 100%;
  position: sticky;
  top: 0;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: .5vw .5vw;
    width: 100%;
    border: none;
    border-radius: 5%;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: .75vw;
    font-weight: bolder;
    font-family: Major Mono Display, sans-serif;
    text-transform: lowercase;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabContent {
    float: left;
    width: 75%;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* .bgimage {
    background-image: url("rita.png");
    background-repeat: no-repeat;
    background-position: right;
    margin: 0 0 0 1.5vw;
} */

.homeBox {
    display: inline-block;
    justify-content: space-evenly;
    font-size: .9vw;
    text-align: left;
    vertical-align: top;
    max-width: 100%;
    height: auto;

}

.leftAboutBox {
    display: inline-block;
    max-width: 45%;
    float: left;
    padding: 2vw;
    position: relative;
    top: 0;
}
.rightAboutBox {
    display: inline-block;
    justify-content: space-evenly;
    font-size: .95vw;
    vertical-align: top;
    max-width: 55%;
    height: auto;
    word-wrap: break-word;
    overflow: hidden;
}

.horizontalBox {
    display: inline-block;
    justify-content: space-evenly;
    font-size: 1vw;
    text-align: left;
    vertical-align: top;
    width: 35vw;
    height: auto;
    margin: 0;
    padding: .5vw;
}

.bigger {
    width: 18vw;
}

.aboutInfoList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: .8vw;
    text-align: left;
}
.infoList {
    margin: 1vw;
    padding: 0;
    list-style-type: none;
    text-indent: 1vw;
    font-size: .9vw;
}
.bulletList {
    list-style-type: circle; 
    font-size: .85em;
    margin: 1vw;
}

.location {
    font-size: .8vw;
    opacity: .9;
}

.text {
    font-size: 11pt;
    margin: 0;
    padding: 0;
}

.credits {
    display: inline-block;
    padding-left: .5em;
    padding-right: .5em;
    font-size: .6vw;
    bottom: 0;
}

img {
    max-width: 80%;
    height: auto;
}
img.doodle {
    border-radius: 50%;
    border-style: solid;
    border-color: pink;
    -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
}

/* Mobile format; stacking */
@media only screen and (max-width: 680px) {
    #MainContent {
        max-width: 100%;  
        max-height: 100%;
    }
}